<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='icon.svg') }}" sizes="any" type="image/svg+xml">
        <link rel='stylesheet' href="../static/style/main.css">
        <title>Веб-приложение для индентификации динамических систем</title>
        <script src='../static/scripts/plotly-latest.min.js'></script>
        <script src='../static/data/uploads/data/test.JSON'></script>
    </head>
    <body>
        <header>
            <a href="/">
                <img class="logo"
                     src="{{ url_for('static', filename='icon.svg') }}"
                     width="68">
            </a>
        </header>
    
    <h1>Загрузка данных переходного процесса</h1>
    <form method="POST" enctype="multipart/form-data" style="display: block;">
        {{ form.hidden_tag() }}
        {{ form.file_upload() }}
        {{ form.submit }}
    </form>
        {% for error in form.data.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {% if file_url %}
            <br>
            <div class='chart'>
                <div id='chart'></div>
                <script> Plotly.plot('chart', graphs, {}); </script>
                <form method="POST" action="{{ url_for('system_ident') }}">
                    {{ ident_form.hidden_tag() }}
                    {{ ident_form.methods }}
                    {{ ident_form.degree }}
                    {{ ident_form.submit }}
                </form>
            </div>
        {% endif %}

        {% block content %}
        {% endblock content %}

    </body>
</html>